.index-body{
    background-color: #00739a
}
.header{
    padding: 30px 0px 30px 0px;

}
#bls-logo{
    width: 400px;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#marsh{
    margin-right: auto;
    margin-left: auto;
    display: block;
    border-radius: 40px;
}
.jumbotron{
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0;
}

.nav{
    font-family: 'Oswald', sans-serif;
    color: #90a4ae;
    font-size: 24px;
    justify-content: space-evenly;
    

}
.nav-link{
    color:#90a4ae;
    /* padding: 20px;  */
    text-decoration-line: none;
}
.nav-title{
    font-family: 'Oswald', sans-serif;
    color:#90a4ae;
    padding-right: 5px;
}
.card-deck{
    padding: 40px;
    background-color: #00739a;
}
.card-img-top{
    border-style: solid;
    border-width: thin;
    border-color: #90a4ae;
    
}
.card-body{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
.mb-5, .my-5{
    margin-bottom: 0 !important;
    font-family: 'Oswald', sans-serif;    
}

.card-text{
    color: #90a4ae;
    font-size: 20px !important;
}
#collectionBtn{
    background-color: #00739a !important;
}
#bottom-row{
    margin-right: -15px; 
    margin-left: -15px; 
}
#festival-image{
    padding-top: 20px;
}
#festival-name{
    font-family: 'Open Sans', sans-serif;
}
#festival-logo{
    object-fit: scale-down;
    height: 200px;
    width: 200px;
}



